src/com/DistributedSystems/RoomRecords.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://remote.asg3.DistributedSystems.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://remote.asg3.DistributedSystems.com/" name="RoomRecordsService">
  <types></types>
  <message name="deleteRoom">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:string"></part>
    <part name="arg2" type="xsd:string"></part>
    <part name="arg3" type="xsd:string"></part>
  </message>
  <message name="deleteRoomResponse">
    <part name="return" type="xsd:string"></part>
  </message>
  <message name="bookRoom">
    <part name="arg0" type="xsd:string"></part>
    <part name="arg1" type="xsd:int"></part>
    <part name="arg2" type="xsd:string"></part>
    <part name="arg3" type="xsd:string"></part>
    <part name="arg4" type="xsd:string"></part>
  </message>
  <message name="bookRoomResponse">
    <part name="return" type="xsd:string"></part>
  </message>
  <message name="createRoom">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:string"></part>
    <part name="arg2" type="xsd:string"></part>
    <part name="arg3" type="xsd:string"></part>
  </message>
  <message name="createRoomResponse">
    <part name="return" type="xsd:string"></part>
  </message>
  <message name="cancelBooking">
    <part name="arg0" type="xsd:string"></part>
    <part name="arg1" type="xsd:string"></part>
  </message>
  <message name="cancelBookingResponse">
    <part name="return" type="xsd:string"></part>
  </message>
  <message name="getAvailableTimeSlot">
    <part name="arg0" type="xsd:string"></part>
    <part name="arg1" type="xsd:string"></part>
  </message>
  <message name="getAvailableTimeSlotResponse">
    <part name="return" type="xsd:string"></part>
  </message>
  <message name="changeReservation">
    <part name="arg0" type="xsd:string"></part>
    <part name="arg1" type="xsd:string"></part>
    <part name="arg2" type="xsd:int"></part>
    <part name="arg3" type="xsd:string"></part>
    <part name="arg4" type="xsd:string"></part>
    <part name="arg5" type="xsd:string"></part>
  </message>
  <message name="changeReservationResponse">
    <part name="return" type="xsd:string"></part>
  </message>
  <portType name="IRoomRecords">
    <operation name="deleteRoom" parameterOrder="arg0 arg1 arg2 arg3">
      <input wsam:Action="http://remote.asg3.DistributedSystems.com/IRoomRecords/deleteRoomRequest" message="tns:deleteRoom"></input>
      <output wsam:Action="http://remote.asg3.DistributedSystems.com/IRoomRecords/deleteRoomResponse" message="tns:deleteRoomResponse"></output>
    </operation>
    <operation name="bookRoom" parameterOrder="arg0 arg1 arg2 arg3 arg4">
      <input wsam:Action="http://remote.asg3.DistributedSystems.com/IRoomRecords/bookRoomRequest" message="tns:bookRoom"></input>
      <output wsam:Action="http://remote.asg3.DistributedSystems.com/IRoomRecords/bookRoomResponse" message="tns:bookRoomResponse"></output>
    </operation>
    <operation name="createRoom" parameterOrder="arg0 arg1 arg2 arg3">
      <input wsam:Action="http://remote.asg3.DistributedSystems.com/IRoomRecords/createRoomRequest" message="tns:createRoom"></input>
      <output wsam:Action="http://remote.asg3.DistributedSystems.com/IRoomRecords/createRoomResponse" message="tns:createRoomResponse"></output>
    </operation>
    <operation name="cancelBooking" parameterOrder="arg0 arg1">
      <input wsam:Action="http://remote.asg3.DistributedSystems.com/IRoomRecords/cancelBookingRequest" message="tns:cancelBooking"></input>
      <output wsam:Action="http://remote.asg3.DistributedSystems.com/IRoomRecords/cancelBookingResponse" message="tns:cancelBookingResponse"></output>
    </operation>
    <operation name="getAvailableTimeSlot" parameterOrder="arg0 arg1">
      <input wsam:Action="http://remote.asg3.DistributedSystems.com/IRoomRecords/getAvailableTimeSlotRequest" message="tns:getAvailableTimeSlot"></input>
      <output wsam:Action="http://remote.asg3.DistributedSystems.com/IRoomRecords/getAvailableTimeSlotResponse" message="tns:getAvailableTimeSlotResponse"></output>
    </operation>
    <operation name="changeReservation" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
      <input wsam:Action="http://remote.asg3.DistributedSystems.com/IRoomRecords/changeReservationRequest" message="tns:changeReservation"></input>
      <output wsam:Action="http://remote.asg3.DistributedSystems.com/IRoomRecords/changeReservationResponse" message="tns:changeReservationResponse"></output>
    </operation>
  </portType>
  <binding name="RoomRecordsPortBinding" type="tns:IRoomRecords">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
    <operation name="deleteRoom">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://remote.asg3.DistributedSystems.com/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://remote.asg3.DistributedSystems.com/"></soap:body>
      </output>
    </operation>
    <operation name="bookRoom">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://remote.asg3.DistributedSystems.com/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://remote.asg3.DistributedSystems.com/"></soap:body>
      </output>
    </operation>
    <operation name="createRoom">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://remote.asg3.DistributedSystems.com/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://remote.asg3.DistributedSystems.com/"></soap:body>
      </output>
    </operation>
    <operation name="cancelBooking">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://remote.asg3.DistributedSystems.com/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://remote.asg3.DistributedSystems.com/"></soap:body>
      </output>
    </operation>
    <operation name="getAvailableTimeSlot">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://remote.asg3.DistributedSystems.com/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://remote.asg3.DistributedSystems.com/"></soap:body>
      </output>
    </operation>
    <operation name="changeReservation">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://remote.asg3.DistributedSystems.com/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://remote.asg3.DistributedSystems.com/"></soap:body>
      </output>
    </operation>
  </binding>
  <service name="RoomRecordsService">
    <port name="RoomRecordsPort" binding="tns:RoomRecordsPortBinding">
      <soap:address location="http://localhost:8080/auth"></soap:address>
    </port>
  </service>
</definitions>